.App {
  text-align: center;
}

.App-header {
  background-color: lightskyblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.room {
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid grey;
}

.light {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.light-off {
  opacity: 45%;
}

.light-on {
  opacity: 90%;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}

.cord {
  border-left: 6px solid black;
  height: 200px;
  position: relative;
}

.switch {
  background-color: grey;
  border: 5px solid grey;
  border-radius: 5%;
  width: 20vh;
  height: 5vh;
  text-align: center;
  margin: 20px;
}

.switch-on {
  background-color: lightgreen;
  border: 5px solid lightgreen;
  color: black;
}
/* 
.switch-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border: 10px solid green;
} */
